:root {
    --font-color-heading: black;
    --font-color-main: rgb(81, 81, 81);
    --font-color-emp: rgb(26, 26, 26);
    --font-color-emp-less: rgb(117, 117, 117);
    --font-color-emp-less-less: rgb(165, 165, 165);
    --font-color-faded: rgb(154, 154, 154);
    --accent-color-1: #A20021;
    --accent-color-2: #F52F57;
    --accent-color-3: #F79D5C;
    --accent-color-4: #F3752B;
    --accent-color-5: #EDEDF4;
    --bg-color-main: white;
    --std-font-size: 14px;
    --h1-content-before: "> ";
    --h2-content-before: ">> ";
    --h3-content-before: "➤ ";
}

* {
    margin: 0px;
    padding: 0px;
    font-size: var(--std-font-size);
}

body {
    color: var(--font-color-main);
    background-color: var(--bg-color-main);
    margin-bottom: 40px;
    line-height: calc(var(--std-font-size) * 1.5);
    font-family: "Fira Code", monospace;
}

blockquote {
    margin: 20px 0px;
    padding: 5px 10px;
    border-left: 5px solid var(--accent-color-2);
    background-color: var(--accent-color-5);
    color: var(--font-color-emp-less);
    font-style: italic;
}

blockquote p {
    margin-bottom: 0px;
}

a {
    color: var(--accent-color-2);
    text-decoration: none;
    border-bottom: .5px dashed var(--accent-color-2);
}

a:hover {
    color: var(--accent-color-3);
    border-bottom: .5px dashed var(--accent-color-3);
}

h1:first-child {
    text-align: center;
    margin-bottom: 40px;
}

h1:first-child:before {
    content: "";
}

h1:before {
    content: var(--h1-content-before);
}

h2:before {
    content: var(--h2-content-before);
}

h3:before {
    content: var(--h3-content-before);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-color-heading);
    margin-bottom: 10px;
    margin-top: 20px;
}

h2 {
    color: var(--font-color-emp-less);
}

h3 {
    color: var(--font-color-emp-less-less);
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px dashed var(--accent-color-3);
    width: 100%;
}

ul,
p {
    width: 100%;
    margin-bottom: 20px;
}

p img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

code {
    font-family: "Fira Code", monospace;
    line-height: 16px;
    background-color: var(--accent-color-5);
}

code.hljs {
    background-color: var(--accent-color-5);
}


/* Class styling */

.navbar {
    margin-top: 20px;
    margin-bottom: 40px;
    /* text-align: center; */
}

.navbar a {
    font-weight: bold;
    border: none;
    text-decoration: underline;
}

.caption {
    text-align: center;
    font-size: var(--std-font-size);
    color: var(--font-color-faded);
}

.container {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 20px;
}

.faded:before {
    content: "『 ";
}

.faded:after {
    content: " 』";
}

.faded {
    color: var(--font-color-faded);
}


/* Column css */

.col {
    display: block;
    float: left;
}

.col img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.col-10 {
    width: 10%;
}

.col-20 {
    width: 20%;
}

.col-30 {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-90 {
    width: 80%;
}

.cpallet col:nth-child(1) {
    background-color: var(--accent-color-1);
}

.footer {
    font-style: italic;
    color: var(--font-color-emp-less);
}


/* 3rd party styling */

.katex {
    color: black;
}