:root {
    --font-color-heading: black;
    --font-color-main: rgb(50, 50, 50);
    --font-color-emp: rgb(26, 26, 26);
    --font-color-emp-less: rgb(128, 128, 128);
    --font-color-emp-less-less: rgb(165, 165, 165);
    --font-color-faded: rgb(154, 154, 154);
    --accent-color-1: #720c20;
    --accent-color-2: #de1e45;
    --accent-color-3: #F79D5C;
    --accent-color-4: #F3752B;
    --accent-color-5: #f7f7f7;
    --bg-color-main: white;
    --std-font-size: 16px;
    --h1-content-before: "> ";
    --h2-content-before: ">> ";
    --h3-content-before: ">>> ";
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    color: var(--accent-color-2);
    text-decoration: none;
    border-bottom: 1px dotted var(--accent-color-2);
}

a:hover {
    color: var(--accent-color-1);
    border-bottom: 1px dotted var(--accent-color-1);
}

blockquote {
    margin: 20px 0px;
    padding: 5px 10px;
    border: #b6b6b6 1px solid;
    border-left: 7px solid var(--accent-color-2);
    background-color: var(--accent-color-5);
    /* color: var(--font-color-emp-less); */
    font-style: italic;
    border-radius: 5px;
}

body {
    color: var(--font-color-main);
    background-color: var(--bg-color-main);
    margin-bottom: 40px;
    line-height: 25px;
    font-family: 'Noto Sans', Helvetica, sans-serif;
}

p {
    line-height: 25px;
    font-size: var(--std-font-size);
    margin: 10px 0px;
}

li {
    margin-left: 20px;
    line-height: 20px;
}

p img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-color-heading);
    margin-bottom: 10px;
    margin-top: 20px;
}

h1 {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 40px;
}

hr {
    margin: 30px 0px;
    border: .5px solid #c2c2c2;
}

.caption {
    text-align: center;
    font-size: 14px;
    /* color: var(--font-color-faded); */
}

.container {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 20px;
}

.content table td {
    padding: 0px 10px;
}

.footer {
    font-size: 14px;
    color: var(--font-color-emp-less);
}

.hidden {
    display: none;
}

.navbar {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.navbar a {
    margin: 0px 5px;
}

.toggle {
    background-color: var(--accent-color-5);
    height: 100%;
}

.toggle-button {
    display: block;
    font-family: "Fira Code", monospace;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 20px;
    color: white;
    background: var(--accent-color-2);
    cursor: pointer;
    text-decoration: none;
    border: none;
    padding: 15px 0px;
    width: 100%;
    padding-left: 10px;
}

.toggle-button:hover {
    background: var(--accent-color-3);
}

code {
    font-family: "Iosevka Web", monospace;
    line-height: 16px;
}

pre code.hljs {
    border-radius: 5px;
    border: rgb(183, 183, 183) 1px solid;
    box-shadow: #b8b8b8 0px 0px 10px;
    margin: 30px 0px;
    padding: 20px;
}