body {
    font-family: "Noto Sans Mono", "Courier New", Courier, monospace;
    font-size: 1rem;
    width: 100vw;
    font-variant-ligatures: common-ligatures;
    font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 3ch;
    font-size: 1rem;
}

h1::before {
    content: "# ";
}
h2::before {
    content: "## ";
}
h3::before {
    content: "### ";
}
h4::before {
    content: "### ";
}

a {
    color: #dc143c;
    font-weight: 500;
}

img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.container,
.footnotes {
    margin: 0 auto;
    display: block;
    width: 70ch;
}
.footnotes {
    line-break: strict;
}

/* .portrait {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 50%;
    background-color: red;
    background: url(/img/image.jpg);
    background-size: cover;
    background-position: center;
}
 */
pre {
    font-weight: 200;!important;
}
